# Example usage

In this notebook, I will demonstrate how to use `msions` to create MS TIC and ion plots.

## Imports

In [2]:
import msions.hardklor as hk
import msions.mzml as mzml
import msions.msxml as msxml

## Create DataFrame from mzML file

`tic_df` will create a pandas DataFrame from an mzML file.

In [3]:
ms1_df = mzml.tic_df("example_files/DIA_file.mzML")

## Read Hardklor file
`hk2df` will read a Hardklor tab-delimited file into a pandas DataFrame. After import, all columns that can be converted to a numeric data type will be.

In [5]:
hk_df = hk.hk2df("example_files/DIA_hk.hk")

`summarize_df` will summarize the TIC in each scan from a Hardklor pandas DataFrame or Hardklor tab-delimited file.

In [7]:
hk.summarize_df(hk_df)

           rt  scan_num       TIC
0      0.0051         1  14409796
1      0.0574       152  15346213
2      0.1091       303  16216937
3      0.1607       454  16422145
4      0.2124       605  15524068
...       ...       ...       ...
2493  99.9866    291311    108058
2494  99.9897    291312     24495
2495  99.9927    291313     51831
2496  99.9958    291314    424145
2497  99.9989    291315    111484

[2498 rows x 3 columns]

If an additional pandas DataFrame is provided with the MS1 scan information, the ion injection time will be mapped to each scan.

In [6]:
hk.summarize_df(hk_df, ms1_df)

           rt  scan_num       TIC         IT           ions
0      0.0051         1  14409796  50.000000  720489.800000
1      0.0574       152  15346213  40.343060  619113.184769
2      0.1091       303  16216937  40.586967  658196.294454
3      0.1607       454  16422145  43.578297  715649.106626
4      0.2124       605  15524068  40.905605  635021.398509
...       ...       ...       ...        ...            ...
2493  99.9866    291311    108058  50.000000    5402.900000
2494  99.9897    291312     24495  50.000000    1224.750000
2495  99.9927    291313     51831  50.000000    2591.550000
2496  99.9958    291314    424145  50.000000   21207.250000
2497  99.9989    291315    111484  50.000000    5574.200000

[2498 rows x 5 columns]

## Parse XML files from percolator output
`psms2df` will create a pandas DataFrame from a percolator XML output file

In [9]:
msxml.psms2df("example_files/DDA_xml.xml")

,peptide,protein_s,q_value,exp_mass,calc_mass,scan_num
0,GLTEGLHGFHVHEFGDNTAGCTSAGPHFNPLSR,sp|P00441|SODC_HUMAN,0.000051,3519.6244,3519.625,61906
1,RPLVLQLVNATTEYAEFLHCK,sp|Q05193|DYN1_HUMAN,0.000051,2502.3204,2502.317,85433
2,CFEKNEAIQAAHDAVAQEGQCR,sp|P09936|UCHL1_HUMAN,0.000051,2532.1364,2532.135,44111
3,KVADALTNAVAHVDDMPNALSALSDLHAHK,sp|P69905|HBA_HUMAN,0.000051,3124.5885,3124.584,77319
4,HLSNVSSTGSIDMVDSPQLATLADEVSASLAK,sp|P10636|TAU_HUMAN,0.000051,3243.6075,3243.605,86851
...,...,...,...,...,...,...
68399,CACCDC,"sp|P25800|RBTN1_HUMAN,sp|Q8TAP4|LMO3_HUMAN",0.343600,846.2123,845.204,4984
68400,CNGDNDC,sp|P02748|CO9_HUMAN,0.343600,855.2400,854.240,8644
68401,CTCCCFCCP,sp|Q9NRQ2|PLS4_HUMAN,0.343600,1326.3802,1324.371,3559
68402,MGCCGCSEGCGSGCGGC,sp|Q6L8G8|KRA57_HUMAN,0.343600,1814.5184,1812.499,24685
68403,LLLLLLLPLLGKVALGL,sp|P07949|RET_HUMAN,0.343600,1774.2521,1772.239,7896