# Example usage

In this notebook, I will demonstrate how to use `msions` to create MS TIC and ion plots.

## Imports

In [5]:
import msions.hardklor as hk

## Read Hardklor file
`hk2df` will read a Hardklor tab-delimited file into a pandas DataFrame. After import, all columns that can be converted to a numeric data type will be.

In [6]:
hk_df = hk.hk2df("plasma-EV-01_MS1_3sn.hk")

`summarize_df` will summarize the TIC in each scan from a Hardklor pandas DataFrame or Hardklor tab-delimited file.

In [7]:
hk.summarize_df(hk_df)

           rt  scan_num       TIC
0      0.0051         1  14409796
1      0.0574       152  15346213
2      0.1091       303  16216937
3      0.1607       454  16422145
4      0.2124       605  15524068
...       ...       ...       ...
2493  99.9866    291311    108058
2494  99.9897    291312     24495
2495  99.9927    291313     51831
2496  99.9958    291314    424145
2497  99.9989    291315    111484

[2498 rows x 3 columns]

If an additional pandas DataFrame is provided with the MS1 scan information, the ion injection time will be mapped to each scan.